<launch>
  <arg name="map_dir" default="$(find oit_navigation_minibot_middle_01)/maps" />
  <arg name="map_name" default="HRC" />
  <arg name="use_rviz" default="true" />
  <arg name="rviz_conf" default="$(find oit_navigation_minibot_middle_01)/config/rviz/simple.rviz" />
  <arg name="rviz_required" default="true" />
  <!-- mouse joy key none -->
  <arg name="teleop" default="key" />
  <arg name="joy_dev" default="/dev/input/js1" />

  <include file="$(find oit_navigation_minibot_middle_01)/launch/include/stage.launch">
    <arg name="map_dir" value="$(arg map_dir)" />
    <arg name="map_name" value="$(arg map_name)" />
    <arg name="use_rviz" value="$(arg use_rviz)" />
    <arg name="rviz_conf" value="$(arg rviz_conf)" />
  </include>

  <include file="$(find oit_navigation_minibot_middle_01)/launch/include/teleop_select.launch">
    <arg name="teleop" value="$(arg teleop)" />
    <arg name="joy_dev" value="$(arg joy_dev)" />
  </include>
</launch>
