<launch>
  <arg name="urg_port" default="/dev/serial/by-id/usb-Hokuyo_Data_Flex_for_USB_URG-Series_USB_Driver-if00" />
  <arg name="use_rviz" default="false" />
  <arg name="use_camera" default="true" />

  <arg name="camera_x" value="0.079" />
  <arg name="camera_z" value="0.09350" />
  <!--joint name="camera_joint" type="fixed">
    <origin xyz="${camera_x} 0 ${camera_z}" rpy="${radians(180)} 0 0"/>
    <parent link="base_link"/>
    <child link="base_camera_link"/>
  </joint-->

  <arg name="rviz_conf" default="$(find oit_navigation_minibot_middle_01)/config/rviz/simple.rviz" />
  <arg name="rviz_required" default="true" />

  <include file="$(find oit_navigation_minibot_middle_01)/launch/include/roboclaw.launch" />

  <include file="$(find oit_navigation_minibot_middle_01)/launch/include/simple_urg.launch">
    <param name="serial_port" type="string" value="$(arg urg_port)" />
  </include>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen">
    <rosparam command="load" file="$(find oit_navigation_minibot_middle_01)/config/laser_filter.yaml" />
    <remap from="scan_filtered" to="base_scan" />
  </node>

  <group if="$(arg use_camera)">
    <include file="$(find astra_camera)/launch/stereo_s_u3.launch" />
    <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="$(arg camera_x) 0 $(arg camera_z) 0 0 3.14159 base_link camera_link 100" />
  </group>

  <include file="$(find oit_navigation_minibot_middle_01)/launch/include/state_publisher.launch"></include>

  <group if="$(arg use_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)" required="$(arg rviz_required)" />
  </group>
</launch>