<launch>
  <arg name="roboclaw_settings" default="$(find oit_navigation_minibot_middle_01)/config/roboclaw.yaml" />
  <node pkg="oit_roboclaw_driver" type="oit_roboclaw_driver_node.py" name="oit_roboclaw_driver_node" output="screen">
    <!-- load from yaml -->
    <rosparam command="load" file="$(arg roboclaw_settings)" />
  </node>
  <node pkg="oit_roboclaw_driver" type="oit_roboclaw_2_wheels.py" name="oit_roboclaw_2_wheels" output="screen">
    <param name="~process_rate" value="20"/>
    <param name="~tread" value="0.207171"/>
    <!-- 4.8:1 Maxon Gear Head -->
    <!-- Ticks: 2000 * 4.8 *2= 19200 -->
    <!-- Wheel: 0.0856 * Pi = 0.2689203314728625 -->
    <param name="~ticks_per_meter" value="71109.80046"/>
    <param name="~linear_max" value="2.0"/>
    <!--Radians-->
    <param name="~angular_max" value="1.57"/>
  </node>
</launch>
