<launch>
  <arg name="roboclaw_settings" default="$(find oit_navigation_minibot_middle_01)/config/roboclaw.yaml" />
  <node pkg="oit_roboclaw_driver" type="oit_roboclaw_driver_node.py" name="oit_roboclaw_driver_node" output="screen">
    <!-- load from yaml -->
    <rosparam command="load" file="$(arg roboclaw_settings)" />
  </node>
  <node pkg="oit_roboclaw_driver" type="oit_roboclaw_2_wheels.py" name="oit_roboclaw_2_wheels" output="screen">
    <param name="~process_rate" value="20"/>
    <param name="~tread" value="0.26"/>
    <!-- 100:1 Metal Gearmotor 37Dx73L mm 12V with 64 CPR Encoder -->
    <!-- Ticks: 102.08 * 64 = 6533.12 -->
    <!-- Wheel: 0.07 * Pi = 0.21991148575128555 -->
    <param name="~ticks_per_meter" value="29707.952623214947"/>
    <param name="~linear_max" value="0.5"/>
    <!--Radians-->
    <param name="~angular_max" value="1.57"/>
  </node>
</launch>
