<launch>
  <arg name="map_dir" default="$(find oit_navigation_minibot_middle_01)/maps" />
  <arg name="map_name" default="HRC" />
  <arg name="map_path" default="$(arg map_dir)/$(arg map_name).yaml" />
  <arg name="world_name" default="$(arg map_name)" />
  <arg name="simulation_world" default="$(arg map_dir)/$(arg world_name).world"/>
  <arg name="use_rviz" default="true" />
  <arg name="rviz_conf" default="$(find oit_navigation_minibot_middle_01)/config/rviz/simple.rviz" />
  <arg name="rviz_required" default="true" />

  <arg name="active_filters" default="$(find twist_filter)/config/active_filters_default.yaml" />
  <arg name="filter_config" default="$(find oit_navigation_minibot_middle_01)/config/twist_avg_filter.yaml" />
  <arg name="filter_name" default="fir_twist_filter" />
  <arg name="input_topic" default="/cmd_vel" />
  <arg name="output_topic" default="/stageros/cmd_vel" />

  <param name="/use_sim_time" value="true"/>

  <!-- Launch filter -->
  <node name="$(arg filter_name)" pkg="twist_filter" type="init_fir.py" output="screen">
    <remap from="filter_in" to="$(arg input_topic)" />
    <remap from="filter_out" to="$(arg output_topic)" />
    <rosparam command="load" file="$(arg active_filters)" />
  </node>

  <!-- Load initial paramters from config file -->
  <node name="init_filter_set" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters $(arg filter_name)">
    <rosparam file="$(arg filter_config)" command="load" />
  </node>

  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg simulation_world)" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
    <remap from="/cmd_vel" to="/stageros/cmd_vel" />
  </node>

  <include file="$(find oit_navigation_minibot_middle_01)/launch/include/state_publisher.launch">
  </include>

  <group if="$(arg use_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)" required="$(arg rviz_required)" />
  </group>
</launch>
