<launch>
  <arg name="model" default="$(find oit_navigation_minibot_middle_01)/urdf/minibot_middle_01.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
