<launch>
  <arg name="initial_pose_x" default="0" />
  <arg name="initial_pose_y" default="0" />
  <arg name="initial_pose_a" default="0" />
  <arg name="map_dir" default="$(find oit_navigation_minibot_middle_01)/maps" />
  <arg name="map_name" default="HRC" />
  <arg name="map_path" default="$(arg map_dir)/$(arg map_name).yaml" />
  <arg name="use_rviz" default="true" />
  <arg name="use_camera" default="false" />
  <arg name="use_urg" default="true" />
  <arg name="rviz_conf" default="$(find oit_navigation_minibot_middle_01)/config/rviz/navigation.rviz" />
  <arg name="rviz_required" default="true" />

  <include file="$(find oit_navigation_minibot_middle_01)/launch/include/devices.launch">
    <arg name="use_rviz" value="$(arg use_rviz)" />
    <arg name="use_camera" value="$(arg use_camera)" />
    <arg name="use_urg" value="$(arg use_urg)" />
    <arg name="rviz_conf" value="$(arg rviz_conf)" />
    <arg name="rviz_required" value="$(arg rviz_required)" />
  </include>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)" respawn="false" />

  <include file="$(find oit_navigation_minibot_middle_01)/launch/include/amcl.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)" />
    <arg name="initial_pose_y" value="$(arg initial_pose_y)" />
    <arg name="initial_pose_a" value="$(arg initial_pose_a)" />
  </include>

  <include file="$(find oit_navigation_minibot_middle_01)/launch/include/move_base/move_base.xml"/>
</launch>
